# JetBrains IDEs
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/repl-commands.xml
!/.idea/runConfigurations/
*.iml

# MacOS
.DS_Store

# CircleCI
# orb.yml is "packed" from source, and not published directly from the repository.
orb.yml
